modules = ["nodejs-20", "web"]
run = "node pkdriller.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node pkdriller.js"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Docker Build"
author = 40441729
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "docker build -t nexus-ai ."
